.two-thousands {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.0em;

    .two-thousands-grossing {
        display: grid;
        justify-self: center;
        align-self: stretch;
        padding-left: 15px;
        gap: 10.0px;
    }
    .two-thousands-score {
        display: grid;
        justify-self: center;
        align-self: stretch;
        padding-left: 15px;
        gap: 10.0px;
    }
    .two-thousands-favorite {
        display: grid;
        justify-self: center;
        align-self: stretch;
        padding-left: 15px; 
        gap: 10.0px;
    }
}