
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import 'app';
@import 'headernav';
@import './decades/eighties.scss';
@import './decades/nineties.scss';
@import './decades/two-thousand.scss';
@import './decades/twenty-tens.scss';